{% extends 'base.html' %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    Данный проект - моя кровь и боль. 
    Кучу времени я поратил, что бы разобраться в том или ином коде или строках, что бы всё это заработало. 
    Часто, очень часто, обращался за сторонней помощью и с точностью могу заявить одно - даже написания такого "легкого проекта" 
    результат работы не одного человека, а нескольких людей, которые мне в этом помогали. Огромное им спасибо. 
  </p>
{% endblock %} 